body {
    font: 100% "Lucida Sans", Verdana;
    line-height: 26px;
    margin: 20px;
}

#top {
    background-color: #04AA6D;
    color: #ffffff;
    padding: 15px;
}

#top h1,
#top p,
ul {
    margin: 0;
    padding: 0;
}

li {
    cursor: pointer;
    border: 1px solid #d4d4d4;
    list-style-type: none;
    background-color: #f1f1f1;
    margin: 4px 0px;
    width: 200px;
    padding: 2px;
}

li:hover {
    background-color: #ffffff;
}

li:first-child {
    background-color: #04AA6D;
    color: white;
    font-weight: bold;
}

ul {
    float: left;
}

#main {
    margin: 0 210px;
    padding: 10px;
}

#sidebar {
    position: absolute;
    background-color: #32a4e7;
    color: #ffffff;
    width: 180px;
    bottom: 0;
    top: 0;
    right: 0;
    padding: 10px;
}

.wrapper {
    position: relative;
}

#bottom {
    border: 1px solid #d4d4d4;
    background-color: #f1f1f1;
    text-align: center;
    font-size: 70%;
    line-height: 14px;
}

#top,
li,
#sidebar,
#bottom {
    border-radius: 4px;
    margin: 4px;
}

a {
    text-decoration: underline;
    color: black;
}

a:hover {
    text-decoration: none;
}

#bottom p {
    padding: 10px 20px;
    margin: 0px;
}