body{
    background-color: black;
    color: #84c754;
    margin: 20px;
    font: 100% "Courier New";
    line-height: 26px;
}
#bottom{
    color: white;
    border: 2px solid white;
    border-radius: 4px; 
    padding: 5px;
    margin: 10px;
    font-size: 70%;
    line-height: 14px;
    text-align: center;
}
#top{
    padding: 15px;
}
#top h1, #top p{
    margin: 0;
}
li:hover{
    color: white;
    cursor: pointer;
}
li:nth-child(4){
    color: white;
    font-weight: bold;
}
.wrapper{
    position: relative;
}
#menubar{
    background-color: black;
}
#main{
    padding: 10px;
}
#main a{
    color: white;
}
#main a:hover{
    color: #84c754;
}
#sidebar{
    position: absolute;
    right: 0;
    top: 0;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    width: 320px;
    padding: 10px;
    font-size: 80%;
    line-height: 20px;
}
@media(max-width: 700px){
    #sidebar{
        position: relative;
        width: auto;
        margin: 15px;
    }
}